extends layout

block content 
    h1= title 
    
    form.message-form(method="POST" action="/new")
        h2= "Send new message"
        input(type="text", name="user", value="", placeholder="Your name", required).name 
        textarea(type="text", name="message", value="", placeholder="Message" rows="5", required).message-area
        button.submit-button(type="submit" value="input textarea") SUBMIT MESSAGE
    p.error-message= errorMessage
    a.new-message-link(href='/') VIEW MESSAGES